/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
    background: #ffebf3;
    color: #ff4b81;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Loader Section */
#loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: #ff4b81;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

/* Battery Loading Animation */
.battery {
    width: 200px;
    height: 80px;
    border: 5px solid #ff4b81;
    border-radius: 15px;
    position: relative;
    margin-bottom: 20px;
}

.battery-level {
    width: 0;
    height: 100%;
    background-color: #ff4b81;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

p {
    font-size: 2rem;
    color: #ff4b81;
}

#progress {
    font-weight: bold;
}

/* Content Section */
#content {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Title */
.title {
    font-size: 4rem;
    margin-bottom: 20px;
    background: -webkit-linear-gradient(45deg, #ff4b81, #ff7e9c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInTitle 1s ease-in-out;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
}

/* Gallery Section for horizontal scrolling */
.gallery {
    display: flex;
    overflow-x: auto; /* Permite desplazamiento horizontal */
    scroll-snap-type: x mandatory; /* Mejora la experiencia de deslizamiento */
    gap: 10px;
    padding: 10px;
}

.gallery img {
    width: 80vw; /* Ocupa el 80% del ancho de la pantalla */
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    scroll-snap-align: center; /* Centra las imágenes mientras se desliza */
}

/* Animations */
@keyframes fadeInTitle {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0); }
}

